@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0c1228;
  font-family: "Montserrat", sans-serif;
}
@font-face {
  font-family: "Montserrat";
  src: url(../src/assets/fonts/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: "ArcadeClassic";
  src: url(../src/assets/fonts/ARCADECLASSIC.TTF);
}

.gradient {
  background: linear-gradient(90deg, #4776e6 0%, #8e54e9 100%);
}
